html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /*min-height: 400px;
  max-height: 3072px;*/
}

#center-container {
  position: relative;
  top: 200px;
  /*height: 100%;*/
  margin: auto;
  vertical-align: center;
}

#logo {
  position: relative;
  margin: 10px auto;
  width: 240px;
  height: 85px;
  vertical-align: center;
}

h6 {
  color: #4285f4;
  font: 16px arial, sans-serif;
  position: absolute;
  top: 65px;
  left: 185px;
}

#input-container {
  margin: 10px auto;
  min-width: 270px;
  max-width: 520px;
}

input {
  margin: 10px 10px;
  width: 96%;
}

#button-container {
  margin: 10px auto;
  width: 265px
}

button {
  margin: auto 5px;
  height: 35px;
  width: 120px;
}

p {
  margin: 20px auto;
  text-align: center;
  font: 14px arial, sans-serif;
}

#topnavcontainer {
  position: fixed;
  top: 0px;
  right: 15px;
  width: 100%;
}

#topnavbar {
  display: flex;
  align-items: center;
  float: right;
}

#bottomnavbar {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

ul.bottomnavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  border-top: 1px solid #e4e4e4;
}

li {
  display: block;
  padding: 11px;
  font: 12px arial, sans-serif;
}

li a {
  color: #222;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

li.leftli {
  float: left;
}

li.rightli {
  float: right;
}
